[Unit]
Description=Telegram Premium Bot
After=network.target mongodb.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/ggbot
Environment="PATH=/home/ubuntu/ggbot/venv/bin"
ExecStart=/home/ubuntu/ggbot/venv/bin/python /home/ubuntu/ggbot/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
